body{
  width:70%;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .container{
    display: flex;
    flex-direction: row;
    width: 100%;
    .sections{
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .list{
      display: flex;
      align-self: flex-start;
    }
    .form{
      display: flex;
      flex-direction: column;
      align-self: flex-start;
    }

  }

}