.form-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  label{
    display: flex;
  }
  input{
    display: flex;
  }
}

.slider:above-level:before{
  content: ''
}